.App {
  text-align: center;
  background-color: #282c34;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-header,
.page-footer {
  flex-shrink: 0;
}

.page-body {
  flex-grow: 1;
}

.message-text {
  color: rgb(108, 108, 206);
  font-family: "Noto Sans Mono", monospace;
  font-family: "Pacifico", cursive;
}
